<div class="header py-7 py-lg-8" [class]="templatecolor">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">S'Inscrire</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0 mt--5">
        <div class="card-body px-lg-5 py-lg-5">
          <form id="frmid" role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input name="username" [(ngModel)]="username" class="form-control" placeholder="Nom Utilisateur" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input name="password1" [(ngModel)]="password1" class="form-control" placeholder="Mot de Pass" type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input name="password2" [(ngModel)]="password2" class="form-control" placeholder="Confirmation" type="password">
              </div>
            </div>
            
            <div class="mb-3">
              <label for="photo" class="form-label">Photo : </label>
              <input id="photo" name="photo" class="form-control" type="file" data-browse="Avatar">
            </div>

            <div style="background-color: pink;">
              <div id="required" style="color:rgb(221, 88, 110); display:none;">Entrez un nom et mot de pass !</div>
              <div id="notmatch" style="color:rgb(221, 88, 110); display:none;">Confirmation du mot de passe invalide !</div>
              <div id="lengthusername" style="color:rgb(221, 88, 110); display:none;">Nom Utilisateur doit avoir 5 a 10 caractères !</div>
              <div id="lengthpass" style="color:rgb(221, 88, 110); display:none;">Mot de Pass doit avoir 5 a 10 caractères !</div>
              <div id="exists" style="color:rgb(221, 88, 110); display:none;">Nom Utilisateur Utilisé !</div>
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" (click)="post()">Créer le conte</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
